# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# The controllers already in the directory. Don't want to store these in git.
APC20
APC40
APC40_MkII
APC_Key_25
APC_mini
Alesis_V
Alesis_VI
Axiom
AxiomPro
Axiom_25_Classic
Axiom_49_61_Classic
Axiom_AIR_25_49_61
Axiom_AIR_Mini32
Axiom_DirectLink
BCF2000
BCR2000
FireOne
KONTROL49
KeyFadr
KeyPad
Keystation_Pro_88
LPD8
LV1_LX1
LV2_LX2_LC2_LD2
Launch_Control
Launch_Control_XL
Launchkey
Launchkey_Mini
Launchpad
MPD18
MPD24
MPD32
MPK225
MPK249
MPK25
MPK261
MPK49
MPK61
MPK88
MPK_mini
MackieControl
MackieControlXT
MackieControl_Classic
MasterControl
MidAir25
Novation_Impulse
O2
OpenLabs
Oxygen49_61
Oxygen8
Oxygen8v2
Oxygen_3rd_Gen
Oxygen_4th_Gen
Ozone
Ozonic
Photon_25
Photon_X25
ProjectMixIO
Push
Radium49_61
RemoteSL
RemoteSL_Classic
Tranzport
TriggerFinger
UC33e
VCM600
ZERO8
_APC
_Axiom
_Framework
_Generic
_MxDCore
_Serato
_Tools
_UserScript
microKONTROL
padKONTROL
Roland_A_PRO
